.drop-pin {
  position: absolute;
  cursor: move;
  font-size: 24px;
  z-index: 1000;
  pointer-events: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

.navbar-left {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-right {
  font-size: 1.2em;
}

.map-container {
  position: relative;  /* This should be on the map container to ensure proper relative positioning */
  width: 100%;
  height: 60vh;
  overflow: hidden;    /* To keep the pin within bounds if needed */
}
